<ion-content id="calendar" ng-controller="CalendarCtrl as vm">
	<button
	id="decrementMonth"
	class="btn btn-primary"
	mwl-date-modifier
	date="calendarDay"
	decrement="calendarView">
		&nbsp;
	</button>
	<h3 style="text-align: center; background-color: #3e792d; color: #FFFFFF;padding:10px 2px">{{calendarTitle}}</h3>
	<button
	id="incrementMonth"
	class="btn btn-primary"
	mwl-date-modifier
	date="calendarDay"
	increment="calendarView">
		&nbsp;
	</button>
	<mwl-calendar
	view="calendarView"
	current-day="calendarDay"
	events="events"
	view-title="calendarTitle"
	on-drill-down-click="false"
	on-event-click="eventClicked(calendarEvent)"
	on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
	delete-event-html="'<div class=\'cta\'><a class=\'delete-task\'></a>'"
	on-delete-event-click="eventDeleted(calendarEvent)"
	cell-modifier="vm.modifyCell(calendarCell)"
	month-cell-template-url="templates/test.html"
	month-cell-events-template-url="templates/test2.html"
	auto-open="false"></mwl-calendar>

</ion-content>
<div class="float-button" ng-click="addTimeLog()">
	<span class="height-fix"> <a ui-sref="add-trip" class="content">
		<div class="addstyletoit">
			<div class="ion-plus"></div>
			<div class="timelogtxt" style="font-size: 13px;">
				Time Log
			</div>
			<div class="clearfix"></div>
		</div> </a> </span>
</div>