<ion-content id="projectList">
	<div class="projectList">
		<ion-item ng-repeat="project in projects" ng-click="setProjectTimelog(project)">
			<div class='row'>

				<div >
					{{project.name}}
				</div>

			</div>

		</ion-item>

	</div>
</ion-content>