<div class="bar bar-header bar-light">
		<img id="header_logo" src="img/logo-intelliswift.png"/>
</div>
<div id="splash">

	<div id="splash_timelog_image">
		<img id="timelog_logo" src="img/timelog_graphic.png"/>
		<div class="timelog_text">
			<strong>TIME</strong>LOG
		</div>

	</div>

	<div class="timelog_organize_text">
		Organize wise
	</div>

	<ion-footer-bar class="footer">
		<div>Fill <strong>Today's</strong> Timesheet</div>
	</ion-footer-bar>

</div>