
 <div class = "hours" ng-repeat="event in day.events" >
 	
 	<div class="hiddenHours" ng-init="day.events.totalHrs = day.events.totalHrs + event.hours" style="display: none">{{event.hours}}</div>
 <div id="totalHours" ng-style="day.events.totalHrs < 8.0 && {'color': 'red','font-size':'16pt'} ||
                  day.events.totalHrs >= 8.0 && {'color': 'green','font-size':'16pt'} || 
                  event.description == 'L' && {'color': 'red', 'font-weight': 'bold', 'font-size': '21pt', 'text-align': 'center'} ||
                  event.description == 'H' && {'color': 'green', 'font-weight': 'bold', 'font-size': '21pt', 'text-align': 'center'}">
                  {{(!day.events.totalHrs) ? event.description : day.events.totalHrs}}	</div>
</div>