<ion-content id="timeLog" ng-controller="TimelogCtrl">
	<div class="list list-inset">

		<label class="item item-input item-select">
			<div class="input-label">
				Category
			</div>
			<select ng-options='category as category.name for category in categories' ng-model='selectedCategory'>
				<option ng-repeat="category in categories" value="{{category.name}}" ng-selected="{{operator.value == category}}">{{category.name}}</option>
				
			</select></label>

	</div>
	<div class="list list-inset">
		<label class="item item-input item-select">
			<div class="input-label">
				Project
			</div>
			<select ng-options='project as project.name for project in projects' ng-model='selectedProject'>
				<option ng-repeat="project in projects" value="{{project.name}}" ng-selected="{{operator.value == project}}">{{project.name}}</option>
				
			</select> </label> </label>
	</div>
	<div class="list list-inset">
		<ionic-datepicker input-obj="datepickerObject" class="datePicker">
			<button class="button button-block button-positive">
				{{datepickerObject.inputDate | date:'dd - MMMM - yyyy'}}
			</button>
		</ionic-datepicker>
	</div>
	<div class="list list-inset">
		<label class="item item-input item-select time">
			<select ng-model='selectedHours'>
				<option ng-repeat='hour in hours' value='{{hour}}' ng-selected="{{operator.value==hour}}">{{hour}} hours</option>
				
			</select></label>
		<label class="item item-input item-select time">
			<select ng-options="min as min.name for min in mins" ng-model='selectedMins'>
				<option ng-repeat="min in mins" value='{{min}}' ng-selected="{{operator.value==min}}">{{min.name}} mins</option>
				
			</select> </label>
	</div>
	<div class="list list-inset">

		<label class="item item-input item-stacked-label"><textarea placeholder="Description" rows="3" cols="10" ng-model="descriptionValue">
	</textarea> </label>

	</div>
	<div class="list list-inset buttonHolder">
		<button class=".saveBtn button button-positive" ng-click='saveTimeLog(false)'>
			Save
		</button>
		<button class="button button-stable" ng-click='saveTimeLog(true)'>
			Save &amp; Add similar
		</button>
		<button class="button button-stable" ng-click='applyLeave()'>
			Apply Leave
		</button>
	</div>
</ion-content>