<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title></title>

		<link href="lib/ionic/css/ionic.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="lib/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css" rel="stylesheet">
		<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
		<link href="css/ionic.app.css" rel="stylesheet">
		-->

		<!-- ionic/angularjs js -->
		<script src="lib/ionic/js/ionic.bundle.js"></script>

		<!-- cordova script (this will be a 404 during development) -->
		<script src="cordova.js"></script>

		<!-- Dependencies for Calendar-->
		<script src="lib/moment/moment.js"></script>
		<script src="lib/angular-base64/angular-base64.js"></script>

		<script src="lib/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.min.js"></script>

		<!-- your app's js -->
		<script src="js/app.js"></script>
		<script src="js/config.js"></script>
		<script src="js/service.js"></script>
		<script src="js/controllers.js"></script>

		<script src="lib/ionic-datepicker/dist/ionic-datepicker.bundle.min.js"></script>

	</head>
	<body ng-app="Timesheet" ng-controller='CommonCtrl'>
		<img id="backButton" src="img/back.png" ng-show="backVisibility" ng-click="back()">
		<img id="logout" src="img/logout.png" style="display: {{logoutVisibility}}" ng-click="logout()">
		<div  id="header" class="bar bar-header bar-light" ng-show="showHeader">

			<img id="header_logo" ng-click = "goHome()" src="img/logo-intelliswift.png"/>
			<div id="section_header" class="bar bar-header bar-assertive">
				<h1 id="title" ng-value="headerTitle">{{headerTitle}}</h1>
				<ionic-datepicker input-obj="datepickerObject">
				<img id="applyLeaveBtn" src="img/addleavebutton.png" ng-show="showBtn"></img>
				</ionic-datepicker>
			</div>

		</div>
		<ion-nav-view style="background-color: #FFFFFF;" cache-view="false"></ion-nav-view>
	</body>
</html>
