/* Empty. Add your own CSS if you like */
#header {
	text-align: center;
	width: 100%;
	position: fixed;
}
#header_logo {
	margin-left: 38%;
	height: 100%;
}
#section_header {
	margin-top: 11%;
	height: 44px;
}
#section_header .title {
	text-align: left;
	margin-top: 0;
}
#backButton {
	    position: fixed;
    z-index: 333;
    margin-left: 3px;
    padding: 10px;
    width: 30px;
    height: 40px;
    margin-top: 5px;
}
#logout{
	position: fixed;
    z-index: 333;
    right: 0;
    margin-top: 5px;
    padding: 6px;
    width: 34px;
    height: 35px;
}
#title {
	margin-top: 5px;
	color: #ffffff;
	font-size: 20px;
}
ion-content {
	height: 100%;
}
#splash {
	margin-top: 11%;
	background-color: #579c43;
	width: 100%;
	height: 100%;
	-khtml-opacity: .90;
	-moz-opacity: .90;
	-ms-filter:  ”alpha(opacity=90) ”;
	filter: alpha(opacity=90);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.9);
	opacity: .90;
}
#splash_timelog_image {
	width: 50%;
	text-align: left;
	margin-left: 10%;
}
#projectList {
	margin-top: 24%;
	height: 86%;
}
#timelog_logo {
	width: 100%;
	margin-top: 70%;
}
.timelog_text {
	color: #FBFBFB;
	width: 50%;
	font-size: 17px;
}
.timelog_organize_text {
	color: #FBFBFB;
	width: 100%;
	font-size: 100%;
	margin-left: 10%;
}
#login {
	margin-top: 25%;
	height: 100%;
}
#userForm {

}
.item-input .icon {
	background-color: #FBFBFB;
	padding: 5%;
	min-width: 0px;
	left: 0%;
}
.item-icon-left input {
	margin-left: 30px;
}
.footer {
	background-color: #3e792d;
}
.footer div {
	color: #FBFBFB;
	text-align: right;
	width: 100%;
}
.bar.bar-assertive {
	border-color: #3e792d;
	background-color: #579c43;
	background-image: linear-gradient(0deg, #3e792d, #3e792d 50%, transparent 50%);
	color: #fff;
}
.button.button-assertive.active, .button.button-assertive.activated {
	border-color: #3e792d;
	background-color: #3e792d;
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}
.button.button-assertive {
	border-color: #3e792d;
	background-color: #579c43;
	color: #fff;
}
.button.button-positive {
	border-color: #3b336b;
	background-color: #3b336b;
	color: #fff;
	display: inline-block;
	margin: 0;
	padding: 0 5px;
	min-width: 30%;
	min-height: 33px;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	vertical-align: top;
	text-align: center;
	text-overflow: ellipsis;
	font-size: 11px;
	line-height: 32px;
	cursor: pointer;
}
.button.button-positive.active, .button.button-positive.activated {
	border-color: #3b336b;
	background-color: #3b336b;
	color: #fff;
	display: inline-block;
	margin: 0;
	padding: 0 5px;
	min-width: 34px;
	min-height: 33px;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	vertical-align: top;
	text-align: center;
	text-overflow: ellipsis;
	font-size: 11px;
	line-height: 32px;
	cursor: pointer;
}
#timeLog {
	margin-top: 28%;
}
#calendar {
	margin-top: 17%;
}
#timeLog .button-stable {
	color: #444;
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0 5px;
	min-width: 30%;
	min-height: 33px;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	vertical-align: top;
	text-align: center;
	text-overflow: ellipsis;
	font-size: 11px;
	line-height: 32px;
	cursor: pointer;
}
.list .list-inset {
	text-align: center;
}
.time {
	float: left;
	width: 50%;
	height: 30px;
}
.time select {
	position: relative;
	max-width: 90%;
}
.cal-month-box {
	min-height: 50pt;
}
.cal-month-day {
	height: 46pt;
}
.buttonHolder {
	text-align: center;
}
#timeLog .button .button-positive {
	color: #fff;
	background-color: #3b336b;
}
.datePicker .button {
	background-color: #fff;
	color: #444;
	font-size: 12pt;
}
.datePicker .button.button-positive:hover {
	background-color: #fff;
	color: #444;
	font-size: 12pt;
}
.datePicker .button.button-positive.active, .button.button-positive.activated {
	background-color: #fff;
	color: #444;
	font-size: 12pt;
}
.saveBtn.button.button-positive.active, .button.button-positive.activated {
	border-color: #3b336b;
	background-color: #3b336b;
	color: #fff;
	display: inline-block;
	margin: 0;
	padding: 0 5px;
	min-width: 30%;
	min-height: 33px;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	vertical-align: top;
	text-align: center;
	text-overflow: ellipsis;
	font-size: 11px;
	line-height: 32px;
	cursor: pointer;
}
.popup-container .popup {
	width: 95%;
}
.row .col {
	padding: 0px;
}
.cal-day-today-incomplete {
	background-color: #FAE3E3;
}
.events-list {
	display: none;
}
.cal-events-num badge badge-important {
	background-color: #00ff00;
}
.float-button {
	    width: 100%;
    padding: 30px;
    font-size: 20px;
    background: #3b336b;
    position: fixed;
    bottom: 0px;
    /* right: 20px; */
    z-index: 9999;
}

.float-button .height_fix {
	margin-top: 100%;
}

.float-button .content {
	position: absolute;
	left: 0;
	top: 50%;
	height: 100%;
	width: 100%;
	text-align: center;
	margin-top: -20px; /* Note, this must be half the font size */
	color: #FFFFFF;
}
.cal-month-box {
	min-height: 50pt;
}
.cal-month-day {
	height: 50pt;
}
/*.eventBackground {
 color: #000000;
 background-color: #ffffff;
 box-shadow: inset 0 0 15px 0 rgba(0,0,0,.5);
 }*/
.cal-slide-content a.event-item {
	color: #000;
	font-weight: 400;
}
.eventBackground {
	background: #fff none repeat scroll 0 0;
	border-bottom: 1px solid #dfdfdf;
	font-size: 14px;
	padding: 13px 89px 13px 20px;
	position: relative;
}
.eventBackground span {
	color:#000000;
	font-size: 14px;
	background: #fff none repeat scroll 0 0;
}
.eventBackground .pull-left{
	display: none;
}
.eventBackground span:last-child {
	display: none;
}
.eventBackground .cta {
	padding: 8px 10px;
	position: absolute;
	right: 0;
	top: 0;
}
.eventBackground .cta a {
	float: left;
	width: 30px;
	height: 30px;
	background: none no-repeat center center;
	display: block;
}
.eventBackground .cta .delete-task {
	/*change image path as per your guideline */
	background-image: url(../img/icon-delete-task.png);
}
.addstyletoit{width: 90px; margin:0 auto; padding-top: 10px}
.addstyletoit .ion-plus{float: left}
.addstyletoit .timelogtxt{float:left; padding-left: 10px}

#hiddenHours{
	display:none;
}

.eventTotalTime .hours{
	display: none;
	
}
.eventTotalTime .hours:last-child{
	display:block;
}
#decrementMonth{
	    position: fixed;
    left: 10px;
    background-color: #3e792d;
    border: 0;
    color: #FFFFFF;
    font-size: 13pt;
    top:13px;
    width:13px;
    height:24px;
    background:url(../img/whitearrow.png) center center no-repeat;
}
#incrementMonth{
	position: fixed;
    right: 10px;
    background-color: #3e792d;
    border: 0;
    color: #FFFFFF;
    font-size: 13pt;
    top:13px;
    width:13px;
    height:24px;
    background:url(../img/increment-whitearrow.png) center center no-repeat;
}
.ionic_datepicker .selected_date_full{
	color: #3b336b;
}
#applyLeaveBtn{
    width:35px;
    height: 35px;
    position: absolute;
    background-repeat:no-repeat;
    right: 10px;
    top: 5px;
}
